apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-service
  labels:
    app: frontend-service
    tier: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend-service
  template:
    metadata:
      labels:
        app: frontend-service
        tier: frontend
    spec:
      containers:
        - name: frontend-service
          image: frontend-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3003
              name: http
          env:
            - name: PORT
              value: "3003"
            - name: REDIS_URL
              value: "redis://redis-service:6379"
            - name: SESSION_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: session-secret
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "250m"

