apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-script
data:
  init.sql: |
    CREATE TABLE IF NOT EXISTS users (
        id SERIAL PRIMARY KEY,
        username VARCHAR(100) UNIQUE NOT NULL,
        password TEXT NOT NULL,
        role VARCHAR(20) NOT NULL DEFAULT 'USER'
    );

    -- Création automatique de l'admin (si pas déjà présent)
    INSERT INTO users (username, password, role)
    VALUES (
        'admin',
        '$2y$10$SXvpvA.E8nBhNheqQ0W8G.vOl/zpLieflplLK5GxzWSFMU9cImqT.', mot de passe admin en clair : Adminappli@123
        'ADMIN'
    )
    ON CONFLICT (username) DO NOTHING;
