  <!DOCTYPE html>
    <html lang="fr">
    <head>
      <meta charset="UTF-8" />
      <title>Kubernetes Multi-Container App</title>
      <style>
        body {
          font-family: Arial, sans-serif;
          background: #0f172a;
          color: #e5e7eb;
          padding: 40px;
        }
        .container {
          max-width: 900px;
          margin: auto;
        }
        h1 {
          color: #38bdf8;
        }
        .card {
          background: #020617;
          padding: 20px;
          border-radius: 10px;
          margin-top: 20px;
        }
        .badge {
          display: inline-block;
          background: #22c55e;
          color: #022c22;
          padding: 6px 12px;
          border-radius: 6px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        ul {
          margin-top: 10px;
        }
      </style>
    </head>

    <body>
      <div class="container">
        <span class="badge">Projet DevOps – Kubernetes</span>
        <h1>Bienvenue <%= user %> </h1>

        <div class="card">
          <h2> Kubernetes – Présentation</h2>
          <p>
            Kubernetes est une plateforme open-source d’orchestration de conteneurs.
            Elle permet d’automatiser le déploiement, la montée en charge et la gestion
            des applications conteneurisées.
          </p>
          <ul>
            <li>Orchestration de conteneurs Docker</li>
            <li>Haute disponibilité</li>
            <li>Découverte réseau automatique</li>
            <li>Gestion des secrets et configurations</li>
          </ul>
        </div>

        <div class="card">
          <h2>Architecture de l’application</h2>
          <ul>
            <li><b>Node.js (Express)</b> : API Backend</li>
            <li><b>PostgreSQL</b> : Base de données relationnelle</li>
            <li><b>Redis</b> : Cache pour améliorer les performances</li>
            <li><b>Kubernetes</b> : Orchestration multi-containers</li>
          </ul>
        </div>

        <div class="card">
          <h2>Sécurité</h2>
          <p>
            Les identifiants sensibles (PostgreSQL) sont injectés via
            <b>Kubernetes Secrets</b>. Aucun mot de passe n’est stocké
            dans le code source ou sur GitHub.
          </p>
        </div>
         <div class="card">
          <h2>Déploiement</h2>
          <p>
            L’application est déployée sur un cluster Kubernetes local (Minikube).
            Les fichiers de configuration YAML définissent les déploiements, services
            et secrets nécessaires.
          </p>
      </div>
    </body>
    </html>